extends layout

block content
	h1= title
	p Welcome to #{title}
	form(action="/", method="POST")
		input(name="tweet_text", type="tweet", placeholder="enter your tweet")
		button(type="submit") Submit
	if tweets
		h1 Tweets
		for tweet in tweets
			p #{tweet.content}